VITE_API_URL=http://localhost:3000
VITE_SUPABASE_URL=https://ixtmmrettexwjasdxytr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4dG1tcmV0dGV4d2phc2R4eXRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwNTgxNzksImV4cCI6MjA3ODYzNDE3OX0.M-5CeZDs5GvR9D6OyiULuKbq3-vItjS86iGxzXJi7K4
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key_here

