PORT=3000
NODE_ENV=development

# Supabase
SUPABASE_URL=https://ixtmmrettexwjasdxytr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4dG1tcmV0dGV4d2phc2R4eXRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwNTgxNzksImV4cCI6MjA3ODYzNDE3OX0.M-5CeZDs5GvR9D6OyiULuKbq3-vItjS86iGxzXJi7K4

# Fal.ai API
FAL_API_KEY=5ac1a5b7-441e-4b51-86d3-0310bb8b7043:9b877f13d9b6b330c9031ff2833c1b63
